 
* {
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    margin: 0;
  
  }
  .img {
    height: 100%;
  }
  #img1 {
    height: 99.5%;
    width: 100%;
    position: relative;
  }
  #chrono {
    position: absolute;
    background-color: black;
    color: white;
    top: 52%;
    left: 30%;
    /*height: 10%;
    width: 10%;*/
    font-size: 500%;
   /* animation: chrono 1s infinite;
    /*animation-delay: 51s;*/
  }
  @keyframes chrono{
      0%{opacity: 1;}
      50%{opacity: 0;}
      100%{opacity: 1;}
  }