@use "sass:math";
.cadran {
    background-color: $Dark-desaturated-blue;
    color: $Soft-red;
}


.digits {
   /* border: 2px solid yellow;*/
    box-shadow: 0 3px 10px #111;
    border-top: 1px solid #393939;
    border-radius: 10px;
    display: inline-block;
    height: 200px;
    margin: 0 20px;
    perspective: 1000px;
    position: relative;
    width:190px;
    background-color: $Dark-desaturated-blue;
    /*overflow: hidden;*/
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    color: $Soft-red;
    text-align: center;
    font-size: 110px;
    padding-top: 41px;
    font-weight: bold;
  }
  .digits:after {
      content: attr(data-num);
      backface-visibility: hidden;
      overflow: hidden;
     
  }

.flip {
    
    /*border: 2px yellow solid;*/
    border-radius: 10px;
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: $Dark-desaturated-blue;
    animation-iteration-count: infinite;
    animation-name: fliptop;
    animation-duration: 0.999s;
    top:0;
    left:0;
    backface-visibility: hidden;
    padding-top: 29px;
    
}
.flip:before {
    
  background: #181818;
  border-radius: 5px 5px 0 0;
  box-shadow: inset 0 15px 50px #111111;
  content: attr(data-num-next);
  line-height: 1.38;
  top: 0;
  z-index: 1;

  
}


.flip:after {
 backface-visibility: hidden;
  color: #eeeeee;
  transform: rotateX(180deg);
  display: block;
  height: 50%;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 2px #333;
  width: 100%;
  
  
}
.flip:after{
    content: attr(data-num-next);
    height: calc(50% - 1px);
    line-height: 0;
    top: 0;
  
}
@keyframes fliptop{
 
    0% {
        transform: rotateX(90deg);
        backface-visibility: hidden;
    }
    50% {
      transform: rotateX(0deg);
      z-index: 1;
    }
  }

  .circle {
      position: absolute;
      background-color: $Very-dark-blue;
      height: 9px;
      width: 16px;
      border-radius: 25px;
      top: 48%;
      z-index: 4;
      border-bottom-left-radius: 110px;
      border-bottom-right-radius: 110px;
  
  }
.left {
    left: -4px;
    transform: rotate(-90deg);
}
 .right {

      right: -4px;
      transform: rotate(90deg);
     
  }