@use "sass:math";
.cadran {
    background-color: $Dark-desaturated-blue;
    color: $Soft-red;
}


.digits {
   /* border: 2px solid yellow;*/
    box-shadow: 0px 15px 2px $Very-dark-mostly-black-blue;
    border-top: 1px solid #393939;
    border-radius: 10px;
    display: inline-block;
    height: 200px;
    margin: 0 20px;
    perspective: 1000px;
    position: relative;
    width:190px;
    background-color: $Dark-desaturated-blue;
    /*overflow: hidden;*/
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    color: $Soft-red;
    text-align: center;
    font-size: 110px;
    padding-top: 41px;
    font-weight: bold;
    @include m-digits;
    @include sm-digits;
    @include xs-digits;
  }
 .digits:before {

  content: '';
  height: 100px;
  left: 0;
  position: absolute;
  transform: translate3d(0,-1px,0);
  background-color: $Very-dark-mostly-black-blue;
  opacity: 0.3;
  top: 0;
  width: 100%;
  z-index: 1000;
  @include m-digits-before;
  @include sm-digits-before;
  @include xs-digits-before;
}
  
  .digits:after {
      content: attr(data-num);
      backface-visibility: hidden;
      overflow: hidden;
     
  }

.flip {
    
    /*border: 2px yellow solid;*/
    border-radius: 10px;
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: $Dark-desaturated-blue;
    animation-iteration-count: infinite;
    animation-name: fliptop;
    animation-duration: 0.999s;
    top:0;
    left:0;
    backface-visibility: hidden;
    padding-top: 29px;
    @include sm-flip;
    @include xs-flip;
    
}
.flip:before {
 
  border-radius: 5px 5px 0 0;
  content: attr(data-num-next);
  line-height: 1.38;
  top: 0;
  z-index: 1;
}


.flip:after {
 backface-visibility: hidden;
  transform: rotateX(180deg);
  display: block;
  height: 50%;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 2px #333;
  width: 100%;
  
  
}
.flip:after{
    content: attr(data-num-next);
    height: calc(50% - 1px);
    line-height: 0;
    top: 0;
  
}
@keyframes fliptop{
 
    0% {
        transform: rotateX(90deg);
        backface-visibility: hidden;
    }
    50% {
      transform: rotateX(0deg);
      z-index: 1;
    }
  }

  .circle {
      position: absolute;
      background-color: $Very-dark-mostly-black-blue;
      height: 9px;
      width: 16px;
      border-radius: 25px;
      top: 47%;
      z-index: 4;
      border-bottom-left-radius: 110px;
      border-bottom-right-radius: 110px;
      @include sm-circle
  
  }
.left {
    left: -4px;
    transform: rotate(-90deg);
}
 .right {

      right: -4px;
      transform: rotate(90deg);
     
  }