@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
body {
  font-family: "Red Hat Tex", sans-serif;
  font-size: 14px;
}

.header {
  /*border: aqua 2px solid;*/
  color: white;
  font-weight: 700;
  font-size: 20px;
  height: 200px;
  letter-spacing: 5px;
  word-spacing: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 26px;
}

.footer {
  border: red 2px solid;
}

.img {
  /*height: 100%;*/
}

#img1 {
  /*height: 99.5%;
  width: 100%;
  position: relative;*/
}

#img2 {
  background-image: url("../../images/pattern-hills.svg");
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  letter-spacing: 25px;
  vertical-align: text-bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding-top: 72px;
}
@media screen and (max-width: 425px) {
  #img2 {
    background-position-x: -849px;
  }
}

#img2 > div > a:hover {
  filter: grayscale(0) hue-rotate(95deg) saturate(3.45);
}

.attribution {
  color: white;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: #1e1f29;
  /* border: orange 2px solid;*/
}

main {
  /*border: greenyellow 2px solid;*/
  display: flex;
  flex-direction: column;
  background-image: url("../../images/bg-stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1440px) {
  main {
    height: 600px;
  }
}
@media screen and (max-width: 425px) {
  main {
    height: 400px;
  }
}

.cards {
  /*border: purple 2px solid;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .card {
    width: 100px;
  }
}
@media screen and (max-width: 376px) {
  .card {
    width: 76px;
  }
}

.unit-time {
  color: #8486a9;
  margin-top: 30px;
  letter-spacing: 5px;
}
@media screen and (max-width: 425px) {
  .unit-time {
    font-size: 9px;
  }
}
@media screen and (max-width: 425px) {
  .unit-time {
    font-size: 6px;
  }
}

.cadran {
  background-color: #343650;
  color: #fb6087;
}

.digits {
  /* border: 2px solid yellow;*/
  box-shadow: 0px 15px 2px #191a24;
  border-top: 1px solid #393939;
  border-radius: 10px;
  display: inline-block;
  height: 200px;
  margin: 0 20px;
  perspective: 1000px;
  position: relative;
  width: 190px;
  background-color: #343650;
  /*overflow: hidden;*/
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  color: #fb6087;
  text-align: center;
  font-size: 110px;
  padding-top: 41px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .digits {
    height: 150px;
    width: 140px;
    font-size: 70px;
    padding-top: 37px;
  }
}
@media screen and (max-width: 425px) {
  .digits {
    height: 100px;
    width: 85px;
    font-size: 50px;
    padding-top: 20px;
  }
}
@media screen and (max-width: 376px) {
  .digits {
    height: 75px;
    width: 63px;
    font-size: 32px;
    padding-top: 18px;
  }
}

.digits:before {
  content: "";
  height: 100px;
  left: 0;
  position: absolute;
  transform: translate3d(0, -1px, 0);
  background-color: #191a24;
  opacity: 0.3;
  top: 0;
  width: 100%;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .digits:before {
    height: 75px;
  }
}
@media screen and (max-width: 425px) {
  .digits:before {
    height: 50px;
  }
}
@media screen and (max-width: 425px) {
  .digits:before {
    height: 38px;
  }
}

.digits:after {
  content: attr(data-num);
  backface-visibility: hidden;
  overflow: hidden;
}

.flip {
  /*border: 2px yellow solid;*/
  border-radius: 10px;
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #343650;
  animation-iteration-count: infinite;
  animation-name: fliptop;
  animation-duration: 0.999s;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  padding-top: 29px;
}
@media screen and (max-width: 425px) {
  .flip {
    padding-top: 15px;
  }
}
@media screen and (max-width: 376px) {
  .flip {
    padding-top: 14px;
  }
}

.flip:before {
  border-radius: 5px 5px 0 0;
  content: attr(data-num-next);
  line-height: 1.38;
  top: 0;
  z-index: 1;
}

.flip:after {
  backface-visibility: hidden;
  transform: rotateX(180deg);
  display: block;
  height: 50%;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 2px #333;
  width: 100%;
}

.flip:after {
  content: attr(data-num-next);
  height: calc(50% - 1px);
  line-height: 0;
  top: 0;
}

@keyframes fliptop {
  0% {
    transform: rotateX(90deg);
    backface-visibility: hidden;
  }
  50% {
    transform: rotateX(0deg);
    z-index: 1;
  }
}
.circle {
  position: absolute;
  background-color: #191a24;
  height: 9px;
  width: 16px;
  border-radius: 25px;
  top: 47%;
  z-index: 4;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
}
@media screen and (max-width: 425px) {
  .circle {
    height: 8px;
    width: 10px;
    top: 44%;
  }
}

.left {
  left: -4px;
  transform: rotate(-90deg);
}

.right {
  right: -4px;
  transform: rotate(90deg);
}

/*# sourceMappingURL=app.css.map */
